GOOGLE_API_KEY=api_key_here
PORT=3000
MONGO_URI=mongodb://vault_history:vault_history_password@localhost:27017/vault_history_local?authSource=admin
JWT_SECRET=Your-Super-Secret-Key-That-Should-Be-Long-And-Secure
JWT_ISSUER=VaultHistory.User.Api
JWT_AUDIENCE=VaultHistory.User.Clients
SWAGGER_ENABLE=true